name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      # यह "मैजिक एक्शन" है जो अपने आप सारी सेटिंग्स (Java, Python, NDK) कर लेता है
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Cyber-Launcher-APK
          path: ${{ steps.buildozer.outputs.filename }}
